User Stories
1. As a student I want to run my code and see the results in the simulator.
2. As a student I want to see an error message when an error is encountered during execution
  Possible errors: (1) Don't recognize this statement. (2) Cannot execute this statement.
3. As a student I want to execute my code one step at a time so that I can debug it.
4. As an instructor I want to know how many times a student has executed their code.
